.maincontainer {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  background-color: gray;
  grid-template-columns: auto;
}
.navbar {
  text-decoration: none;
  color: white;
  font-size: bold;
}
.linkname {
  width: 100%;
  text-align: center;
  justify-content: flex-end;
  gap: 1px;
  display: flex;
  text-decoration: none;
}
.navbuttom {
  background-color: purple;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
}
.datanav {
  display: flex;
}
.datadistruring {
  background-color: aqua;
  color: blueviolet;
  text-align: center;
}
.dataupdate {
  background-color: rgb(255, 162, 0);
  color: rgb(218, 181, 252);
  text-align: center;
}
